* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;
}

header {
    background-color: #E5012E;
}

body {
    background-color: #F2F2F2;
}

.container {
    width: 90%;
    background-color: #E5012E;
    color: #fff;
    margin: 0 auto;
    padding: 2.2em 0 0 2.2em;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    position: relative;
    margin-bottom: 0.5em;
    font-size: 1.1em;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.3);
}

.logo h1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 8px;
    width: 81%;
    height: 4px;
    background-color: #fff;
}

.logo p {
    line-height: 1px;
    font-size: 0.8em;
}

.search-form {
    display: flex;
}

.search-form input {
    width: 55em;
    padding: 1em;
    border: none;
    border-radius: 10em 0em 0em 10em;
}

.search-form button {
    padding: 0.8em;
    background-color: #E5012E;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    display: flex;
    border: 2px solid #fff;
}

.nav-sections {
    display: flex;
    justify-content: center;
    color: #fff;
    gap: 1em;
    list-style: none;
}

.nav-sections li {
    cursor: pointer;
    margin-bottom: 1em;
    padding: .5em;
    transition: transform 0.3s ease;
}

.nav-sections li:hover {
    transform: scale(1.2);
}

.header-icons {
    margin-top: 0.5em;
}

.header-icons img {
    margin-right: 0.5em;
    border-radius: 10em;
    padding: 7px;
    background-color: #fff;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.header-icons img:hover {
    transform: scale(1.1);
}

.about {
    background-image: url(images/freepik-export-2024111521463302ng.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    height: 100vh;
    color: #fff;
    padding: 0 2.2rem;
    overflow: hidden;
}


.about-container {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: 0 auto;
}

.about .store-image {
    padding: 2.5rem;
    display: flex;
    justify-content: center;
}

.about div img {
    height: 18.75em;
    width: 18.75em;
    border-radius: 18.75em;
    padding: 1em;
    background-color: #fff;
    border-bottom: 4px solid #E5012E;
}

.about-sales {
    display: grid;
    justify-items: start;
    align-content: space-around;
}

.about span {
    background-color: #E5012E;
    font-weight: bold;
    text-transform: uppercase;
    padding: .3em;
    border-radius: 1em;
}

.about h2 {
    margin-top: .5em;
    margin-bottom: .5em;
}

.about p {
    margin-bottom: 1em;
}

.about .sale-button {
    padding: 1em;
    border-radius: 2em;
    border: none;
    cursor: pointer;
    background-color: #E5012E;
    color: #fff;
    margin-right: 1em;
}

.about button {
    padding: 1em;
    border-radius: 2em;
    border: none;
    cursor: pointer;
    background-color: #fff;
    color: #000;
}


.showcase {
    padding-bottom: 6rem;
}

.showcase-main-text {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.showcase-main-text p {
    background-color: #000;
    color: #fff;
    padding: .3rem;
    border-radius: .3rem;
    margin-bottom: 2rem;
}

.filters {
    display: flex;
    justify-content: space-evenly;
}

.filters p {
    font-weight: bold;
}

.filters select {
    padding: .5rem 5rem .5rem 1rem;
    border: none;
    border-radius: .3rem;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
}

.cellphones {
    margin-top: 4rem;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 17%);
    justify-content: space-evenly;
}

.cellphones img {
    width: 12.5rem;
    height: 12.5rem;
    margin-top: 1rem;
}

.cellphone-description {
    width: 100%;
    text-align: center;
    background-color: #fff;
    border: 2px solid #d6d6d6;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
    margin-bottom: 3rem;
}

.cellphone-description h3 {
    font-size: .9rem;
}

.cellphone-description span {
    background-color: #d6d6d6;
    color: #4e4e4e;
    padding: .2rem;
    border-radius: .4rem;
}

.cellphone-description p {
    color: #4e4e4e;
    text-decoration: underline;
}

.cellphone-description button {
    width: 100%;
    background-color: #e30613;
    color: #ffffff;
    border: none;
    border-top: none;
    border-radius: 0 0 5px 5px;
    padding: .65rem;
    font-size: .9rem;
    font-weight: bold;
    cursor: pointer;
    box-sizing: border-box;
}

.pages {
    display: flex;
    gap: 10px;
    position: absolute;
    right: 3.2rem;
    bottom: -1.25rem;
}

.page {
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: .5rem .75rem;
    cursor: pointer;
    font-size: .9rem;
}

.page:hover {
    background-color: #666;
}

.page.active {
    background-color: #000;
}

.footer-container {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    margin-top: 2em;
}

.footer-container a {
    color: #1e90ff;
    text-decoration: none;
    font-weight: bold;
}


@media screen and (min-width: 641px) and (max-width: 1023px) {
    .container {
        width: 100%;
        padding: 1em;
    }

    .logo h1 {
        font-size: 1.5em;
    }

    .search-form input {
        width: 20em;
        padding: 0.8em;
    }

    .nav-sections {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .about {
        text-align: center;
        padding: 2em 1em;
    }

    .about div img {
        width: 15em;
        height: 15em;
    }

    .about .store-image {
        padding: 2.5rem;
        display: flex;
        align-items: center;
    }

    .about-sales {
        display: grid;
        justify-items: center;
        align-content: space-around;
    }

    .filters {
        flex-wrap: wrap;
        justify-content: center;
        gap: 1em;
    }

    .cellphones {
        grid-template-columns: repeat(3, 30%);
        justify-content: space-between;
    }
}

@media screen and (max-width: 640px) {

    .container {
        flex-direction: column;
        align-items: flex-start;
        padding: 1em;
    }

    .logo {
        font-size: x-large;
        margin-bottom: 1em;
    }

    .container {
        width: 90%;
        padding: 0.5em;
    }

    .logo h1 {
        font-size: 1.2em;
    }

    .search-form input {
        width: 100%;
        padding: 0.5em;
    }

    .nav-sections {
        flex-direction: column;
        align-items: center;
        gap: 0.5em;
    }

    .about {
        display: flex;
        align-items: center;
        height: 100%;
        padding-bottom: 5em;
    }

    .about div img {
        width: 12em;
        height: 12em;
    }

    .about-container {
        display: flex;
        width: 90%;
        margin: 0 auto;
        flex-direction: column;
    }

    .about-sales {
        display: grid;
        justify-items: center;
        text-align: center;
    }

    .filters {
        flex-direction: column;
        gap: 1em;
        align-items: center;
    }

    .cellphones {
        grid-template-columns: 1fr;
    }
}